.cabecera {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../../img/albanil-que-instala-albanileria-ladrillos-pared-exterior-espatula-espatula.jpg");
  background-size: cover;
  background-position: center;
}

.custom-toggler {
  /* Estilos personalizados para el botón de expansión */
  border: none;
}

.custom-toggler:active {
  /* Estilos personalizados para el botón de expansión */
  border: none;
}