.presentacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 600px;
  max-width: 1024px;
  margin: auto;
  line-height: 1rem;
  color: rgb(251, 251, 251);
}

.presentacion__titulo {
  text-align: center;
  font-size: 4rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.presentacion__texto {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  line-height: 2rem;
}

.presentacion__button {
  /* text-align: center; */
  font-family: 'Montserrat', sans-serif;
  border: 2px aliceblue solid;
  color: rgb(36, 36, 36);
  padding: 1rem;
  text-decoration: none;
  margin-top: 1rem;
  transition: all .2s ease-in-out;
  color: aliceblue;
  background-color: rgba(0, 0, 0, .5);
}

.presentacion__button:hover {
  transform: scale(1.02);
}


@media screen and (max-width: 375px) {
  .presentacion__titulo {
    font-size: 3rem;
  }
}