.pie {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-color: rgb(11, 32, 49);

  color: aliceblue;
}

.pie__link {
  text-decoration: none;
  color: aliceblue;
}