.galeria {
  padding: 3rem 0;
  background-color: rgb(230, 230, 230);
  /* color: aliceblue; */
}

.galeria__titulo {
  text-align: center;
}

.fotos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  max-width: 1024px;
  margin: auto;
  padding: 2rem 0;
 
}

.fotos-container__imagen {
  transition: all 0.3s ease-in-out;
  margin: 1rem 0;
}

.fotos-container__imagen:hover {
  transform: scale(1.1);
}